@font-face {
  font-family: "GothamBold";
  src: url("/src/assets/fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "GothamMedium";
  src: url("/src/assets/fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: "GothamLight";
  src: url("/src/assets/fonts/Gotham-Light.otf");
}

body, html {
  min-height: 100%;
  width: 100%;
  padding: 0px !important;
}

body {
  background: #000;
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
